$hoverColor: #006BB4;

.container{
width: 30vw;
height: 400px;
border: 1px solid gray;
border-radius: 5px;
padding: 5px;
position: relative;
z-index: 2;
}

.header{
  display: flex;
  height: 25px;
  justify-content: space-between ;
  width: 100%;
}

.headerButton{
  width: 34%;
  cursor: pointer;
}

.headerButton:hover{
  text-decoration: underline;
}

.headerButton:focus{
  text-decoration: underline;
  border-bottom: 4px solid $hoverColor;
}

.left{
  color:green;
  position: absolute;
  width: 9px;
  height: 9px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  left: 7.5vw;
  top: -6px;
  transform: rotate(45deg);
  z-index: 1;
  background-color: white;
}

.right{
  color:blue;
  position: absolute;
  width: 9px;
  height: 9px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  left: 23vw;
  top: -6px;
  transform:  rotate(45deg);
  z-index: 1;
  background-color: white;
}

@media (max-width:900px) {
  .container{
    font-size: 10px;
    width: 70vw;
  }

}

@media (max-width:500px) {
  .container{
    font-size: 8px;
    width: 80vw;
  }

}


