$hoverColor: #006BB4;
.container {
  display: flex;
  margin-bottom: 5px;
}

.button {
  width: 15vw;
  margin: 5px;
  height: 20px ;
  cursor: pointer;
}

.button:hover{
  text-decoration: underline;
}

.button:focus{
  text-decoration: underline;
  border-bottom: 4px solid $hoverColor;
}


@media (max-width:900px) {
  .button{
    width: 35vw;
  }
}

@media (max-width:500px) {
  .button {
    width: 40vw;
  }
}
