$hoverColor: #006BB4;

.dailyTime{
  width: 20%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 80%;
  padding-top: 5px;
}

.dailyTimeCell{
  margin-bottom:3px;
  cursor: pointer;
  opacity: 0.6;
}

.dailyTimeCellClicked{
  margin-bottom:3px;
  cursor: pointer;
  opacity: 1;
  background-color: $hoverColor;
  border-radius: 3px;
}

.dailyTimeCell:hover{
text-decoration: underline;
}

@media (max-width:900px) {
  .dailyTime{
    font-size: 10px;
  }
}

@media (max-width:500px) {
  .dailyTime{
    font-size: 8px;
  }
}