$hoverColor: #006BB4;
.dailyTime{
  width: 20%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 85%;
  padding-top: 5px;
}

.dailyTimeCell{
  margin-bottom:3px;
  cursor: pointer;
  opacity: 0.6;
}

.dailyTimeCell:hover{
text-decoration: underline;
}

  .choosedTime{
    background-color: blue;
  }