.App {
  text-align: center;
  font-family:"Segoe UI";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.dayCell{
  padding: 3px;
  margin: 5px;
  cursor: pointer;
}

.clickedDayCell{
  padding: 3px;
  margin: 5px;
  cursor: pointer;
  background-color: blue;
}
